{% extends 'nav_bar.html' %} {% block content %}
<!--<main id="main">-->


  <p style="color:red">
{% with messages = get_flashed_messages() %}
        {% if messages%}
            {% for msg in messages %}
                {{msg}}
            {% endfor %}
        {% endif %}
        {% endwith %}
</p>

<!--<div class="container movie-details">-->
<!--  <div class = "row">-->
<!--    <div class="col-md-6 left-box">-->
<!--      <h1>-->
<!--      <p class="text-primary">-->
<!--      ssss.text-primary-->
<!--    </p>-->
<!--      </h1>-->
<!--    </div>-->
<!--    <div class="col-md-6"></div>-->

<!--  </div>-->
<!--</div>-->

<div class="row row-cols-1 row-cols-md-4">
  <div class="col mb-4">
    <div class="card h-100">
      <a href = "{{ url_for('home_bp.video') }}" ><img class="card-img-top" src="{{ url_for('static', filename='image/movie3.jpeg') }}" alt="..."/></a>
      <div class="card-body">
        <h5 class="card-title">Click me</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card h-100">
      <img class="card-img-top" src="{{ url_for('static', filename='image/movie2.jpeg') }}" alt="..."/>
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card h-100">
      <img class="card-img-top" src="{{ url_for('static', filename='image/movie4.jpeg') }}" alt="..."/>
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card h-100">
      <img class="card-img-top" src="{{ url_for('static', filename='image/movie6.jpeg') }}" alt="..."/>
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card h-100">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card h-100">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
      </div>
    </div>
  </div>
</div>




  <p>
    The number of movies are {{number}}
  </p>

  <br />
  <p>
    {%for genre in genre_list %}
    <p>{{genre}} </p>
    {%endfor%}
  </p>
  <br />

  <p>
    The pandemic has caused global social and economic disruption,including the
    largest global recession since the Great Depression and global famines
    affecting 265 million people. It has led to the postponement or cancellation
    of sporting, religious, political, and cultural events, widespread supply
    shortages exacerbated by panic buying, and decreased emissions of pollutants
    and greenhouse gases. Schools, universities, and colleges have been closed
    either on a nationwide or local basis in 172 countries, affecting
    approximately 98.5 percent of the world's student population. Misinformation
    about the virus has circulated through social media and mass media. There
    have been incidents of xenophobia and discrimination against Chinese people
    and against those perceived as being Chinese or as being from areas with
    high infection rates.
  </p>
  <p style="text-align: right; font-style: italic;">
    Wikipedia
  </p>
<!--</main>-->
{% endblock %}
