{% extends 'nav_bar.html' %} {% block content %}
<!--<main id="main">-->
<div class="row row-cols-1 row-cols-md-4">
{%for movie in movie_list %}
    <div class="col mb-4">
    <div class="card h-100">
      <a href = "{{ url_for('home_bp.video') }}" ><img class="card-img-top" src="{{ url_for('static', filename='image/movie14.jpeg') }}" alt="..."/></a>
      <div class="card-body">
        <h5 class="card-title">{{movie.title}} {{movie.release_year}}</h5>
        <p class="card-text">{{movie.description}}</p>
      </div>
    </div>
    </div>
{%endfor%}
 </div>>


  <br />
<!--<p>{{family_list}} </p>-->
<!--  <p>-->
<!--&lt;!&ndash;    {%for family in family_list %}&ndash;&gt;-->
<!--&lt;!&ndash;    <p>{{family}} </p>&ndash;&gt;-->

<!--&lt;!&ndash;    {%endfor%}&ndash;&gt;-->
<!--  </p>-->
<!--  <br />-->


<!--  <p style="text-align: right; font-style: italic;">-->
<!--    Ray Xue-->
<!--  </p>-->
<!--</main>-->
{% endblock %}