{% extends 'nav_bar.html' %} {% block content %}

<!--<h1>{{movie}}</h1>-->

<!--<video width="320" height="240" controls>-->
<video class="video" controls>
  <source src="{{ url_for('static', filename='video/video1.mp4') }}" type="video/mp4">
<!--  <source src="movie.ogg" type="video/ogg">-->
  Your browser does not support the video tag.
</video>

  <h1 style="color:red" class = 'rating'>

<!--{% with messages = get_flashed_messages() %}-->
<!--        {% if messages%}-->
<!--            {% for msg in messages %}-->
<!--                {{msg}}-->
<!--            {% endfor %}-->
<!--        {% endif %}-->
<!--        {% endwith %}-->

</h1>
<div class="rating_right">

    The Rating:{{movie.rating}}
    <h1>


 <div class = "review">
<h2>Users review:</h2>

{% for review in movie.review%}
    <p>{{review.review_text}}</p>
{%endfor%}

</div>


{% endblock %}