{% extends 'nav_bar.html' %}

{% block content %}


<style>
input[type='text'],
    select {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

input[type='password'],
    select {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

input[type='submit'] {
    width: 100%;
     background-color: #7532cd;
     color: white;
     padding: 14px 20px;
     margin: 8px 0;
     border: none;
     border-radius: 4px;
     cursor: pointer;
}

input[type='submit']:hover {
    background-color: #8acd32;
    color: black;
}
</style>


<p style="color:red">
{% with messages = get_flashed_messages() %}
        {% if messages%}
            {% for msg in messages %}
                {{msg}}
            {% endfor %}
        {% endif %}
        {% endwith %}
</p>

        <form method="POST" action="{{ handler_url }}">
             {{ form.csrf_token }} <!-- Need to include this token - Flask WTForms requires it. -->
            <div class="form-field">{{ form.username.label }} {{ form.username }}
                {% if form.username.errors or username_error_message is not none %}
                    <ul class="errors">
                        {% if username_error_message is not none %}
                            <li>
                                {{ username_error_message }}
                            </li>
                        {% endif %}
                        {% for error in form.username.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
            <div class="form-field">{{ form.password.label }} {{ form.password }}
                {% if form.password.errors or password_error_message is not none %}
                    <ul class="errors">
                        {% if password_error_message is not none %}
<!--                            <li>-->
                                {{ password_error_message }}
<!--                            </li>-->
                        {% endif %}
                        {% for error in form.password.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
            {{ form.submit }}
        </form>
    </div>
</main>
{% endblock %}